/* LOGIN SQUARE */
body {
    margin: 0;
    height: 100vh;
    background-color: #f2f2f2;
  }

  .login-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    padding-top: 7%;
    padding-bottom: 7%;
  } 
  textarea{
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .login-square {
    width: 30%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #45a049;
  }

  .form-group .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .form-group .socials-group {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }

  .form-group .checkbox-group label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: lighter;
    white-space: nowrap;
  }

  .form-group .socials-group label {
    font-weight: lighter;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form-group .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
  }

  .form-group .checkbox-input input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: lighter;
  }
  .form-group:last-child {
    margin-bottom: 0;
  }
/* HEADER CSS*/
header {
    background-color: lightslategray;
    padding: 20px 60px;
    margin: 0px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #3367d6;
  }