*{
  margin: 0;
  box-sizing: border-box;
}

/* HEADER CSS*/
header {
    background-color: lightslategray;
    padding: 20px 60px;
    margin: 0px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #3367d6;
  }

/* SWIPER CSS */

.swiper-container{
  width: 100%;
  background: white;
  display: flex;
  align-items:center;
  justify-content: center;
  overflow-x: hidden;
}

.swiper{
  width: 100%;
  height: fit-content;
}

.swiper-slide img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* SEARCH BAR CSS */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto;
  width: 575px; */
  border-radius: 30px;
  /* border: 1px solid #dcdcdc; */
}

.search-form:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

/* .search-form:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
} */

.search-form input[type="text"] {
  padding-left: 15px;
  height: 45px;
  border: black;
  border-radius: 30px;
  width: 450px;
  font-size: 16px;
  outline: none;
}

/* .search-form button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20spx;
  margin-left: 8px;
} */

/* TAB BAR CSS */
.tab {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.tablinks {
  padding: 12px 24px;
  background-color: #f2f2f2;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  border-bottom-color: #333;
  /* font-weight: bold; */
}

.tabcontent {
  padding-top: 25px;
}
/* PROFILE LIST CSS */
.profile-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin: 0px 20% 0px 20%;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  border-radius: 0px;
}

.profile:hover{
  background-color: lightgrey;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin-right: 10px;
}